/*  */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}


main {
    height: 300vh;
}




/* ==============================
# top bar 
================================*/
#topbar {
    background-color: aliceblue;
    height: 3rem;
    line-height: 3rem;
    padding: 0 8rem;
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#topbar .contact, .social {
    font-weight: 500;
    font-size: 1.1rem;
}
#topbar .contact a {
    font-size: 1rem;
}
#topbar .contact a, .social a {
    color: rgb(0, 0, 0);
    margin-left: .3rem;
    text-decoration: none;
}
#topbar .contact a:hover, .social a:hover {
    color: gray;
}


/* ==============================
# Header
================================*/
#header {
    background-color: aliceblue;
    height: 3.5rem;
    position: absolute;
    top: 3rem;
    bottom: 0;
    right: 0;
    left: 0;
}

.navbar {
    width: 70%;
    height: 5rem;
    margin: 0 auto;
    background-color: rgb(109, 236, 194);
    border-radius: .7rem;
    text-decoration: none;
}
.navbar a {
    color: black;
}
.navbar .collapse a{
    font-size: 1rem;
    font-weight: 500;
}
.navbar .collapse a:hover {
    color: gray;
}

/* ==============================
# Slider
================================*/
#slider {
    height: 80vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 6.5rem;
    bottom: 0;
    right: 0;
    left: 0;
}
#slider::before {
    content: '';
    background-color: rgba(144, 223, 186, 0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#slider .content {
    z-index: 2;
    width: 50%;
    margin-left: 5rem;
    color: whitesmoke;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
}
#slider .content h6 {
    font-size: 1.2rem;
}
#slider .content h1 {
    font-size: 5rem;
}
#slider .content p {
    font-size: 1.2rem;
}
#slider .content a {
    background-color: whitesmoke;
    color: black;
    padding: .3rem;
    font-weight: 500;
    border-radius: .5rem;
    font-size: 1.3rem;
}
#slider .content a:hover {
    color: aquamarine;
    background-color: transparent;
    border: .2rem solid white;
}
/* ==============================
# Main section
================================*/
main {
    position: absolute;
    top: 100vh;
    bottom: 0;
    right: 0;
    left: 0;
}
/* ==============================
# Featured
================================*/
#featured {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70vh;
}
#featured h4 {
 text-align: center;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
#featured .row .f-card {
    width: 20rem;
    background-size: cover;
    margin-left: 5rem;
}
#featured .row .f-card img{
    width: 20vw;
    height: 22rem;
    border-radius: .5rem;
    
}
#featured .features {
    
}
#featured .featured-content {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    height: 40vh;
    width: 18rem;
    top: -12rem;
    left: 6rem;
    border-radius: .3rem;
    box-shadow: 5px 5px 5px 5px rgba(184, 184, 184, 0.4);
    padding: 3rem;
}
#featured .featured-content {

}

/* ==============================
# About section
================================*/
#about {
    position: absolute;
    top: 75vh;
    bottom: 0;
    right: 0;
    left: 0;
}
#about h4 {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 2rem;
}
#about video {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#about p {
    padding: 1rem;
}
#about button {
    color: gray;
    padding: .2rem;
    background-color: transparent;
    margin-left: 1rem;
    border-radius: .5rem;
    border: 1px solid grey;
}
#about button:hover {
    color: black;
    background-color: aquamarine;
}

/* ==============================
# Project section
================================*/
#projects h4 {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 2rem;
}
#projects {
    position: absolute;
    top: 140vh;
    bottom: 0;
    right: 0;
    left: 0;
}
#projects .card {
    margin-left: 3rem;
}
#project .row .card img {
    height: 10vh;
    width: 100%;
}


/* ==============================
# Track Record section
================================*/
#stats {
    position: absolute;
    top: 240vh;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 71vh;
}
#stats .parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#stats .parallax::before {
    content: '';
    background-color: rgba(144, 223, 186, 0.5);
    position: absolute;
    width: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
